[core]
	excludesfile = ~/.gitignore-global
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[user]
	name = Mark Paschal
	email = markpasc@markpasc.org
[github]
	user = markpasc
[push]
	default = current
[alias]
	tube = log --graph --pretty=oneline --abbrev-commit --decorate --color
[branch]
	autosetuprebase = always
